.profile {
  max-width: 880px;
  width: 100%;
  margin: 40px auto 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  grid-template-columns: min-content;
}

@media screen and (max-width: 665px) {
  .profile {
    margin: 42px 0 0;
    grid-template-rows: none;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    justify-items: center;
  }
}

@media screen and (max-width: 540px) {
  .profile {
    margin: 42px 0 0 0;
  }
}