.element__group {
  width: 22px;
  height: 19px;
  padding: 0 0 0 42px;
  background-image: url(../../../images/button/like.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-color: white;
}

.element__group:hover {
  opacity: 0.5;
}