.popup__close {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-image: url(../../../images/button/Close-Icon.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -12%;
  right: -9.1%;
  transition: opacity 0.1s ease;
}

.popup__close:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -11%;
    right: 0%;
    background-image: url(../../../images/button/Close-Icon-mobile.svg);
  }
}