.footer {
  max-width: 880px;
  margin: 66px auto 60px;
}

@media screen and (max-width: 900px) {
 .footer {
    max-width: 610px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    max-width: 282px;
    margin: 50px auto 36px;
    padding-left: 8px;
  }
}